body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
}
header img{
    width: 200px;
    cursor: pointer;
}
ul{
    display: flex;
    margin-left: 200px;
} 
ul li{
    margin-left: 70px;
    cursor: pointer;
    transition: 0.5s;
}


button {
    margin-left:700px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lemonchiffon;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-container {
    flex: 1;
    padding-left: 300px;
}

.text-container h2 {
    color: black;
    font-size: 30px;
}
.text-container p{
    font-size: 50px;
    font-weight: 600;
}
.text-container span{
 color: brown;
}

.image-container img {
    width: 100%;
    height:500px;
    border-radius: 8px;
    margin-right: 200px;
    padding-right: 100px;
}

/* about */
nav {
    background-color: brown;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.flex-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: burlywood;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-side {
    flex: 1;
    padding-left: 20px;
}
.text-side ul li{
    font-size: 25px;
}

.text-side h2 {
    color: black;
}

.image-side img {
    width: 100%;
    height: 600px;
    border-radius: 8px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* services */
.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: bisque;
}

.service-card {
    text-align: center;
    width: 550px;
    height: auto;
    padding: 20px;
    background-color: #45a049;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
    background-color: cadetblue;
}

.service-icon {
    font-size: 10rem;
    color: #333;
}

.service-title {
    font-size: 2rem;
    margin: 10px 0;
    color: #333;
}

.service-description {
    font-size: 1.5rem;
    color: #555;
}
/* work */
.work-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.work-card {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.work-card:hover {
    transform: scale(1.05);
}

.work-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    opacity: 0.7;
}


.work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: wheat;
    
}
.work-title {
    font-size:3rem;
    margin-bottom: 10px;
}

.work-description {
    font-size: 2rem;
}
/* contact */

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

button {
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-link {
    margin: 0 10px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-link:hover {
    transform: scale(1.2);
}

.contact-info {
    font-size: 0.9rem;
}

/* responsive */
@media only screen and (max-width :576px) {
    header {
        padding: 10px 10px;
        display: flex;
    }
    header img{
        width: 80px;
    }
    ul{
        display: none;
    } 
   button {
        margin-left:150px;
    }

    
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: lemonchiffon;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .text-container {
        flex: 1;
        padding-left: 50px;
    }
    .text-container p{
        font-size: 40px;
        font-weight: 600;
    }
    
    .image-container img {
        width: 100%;
        height:400px;
        padding: 20px;
    }

    nav {
        padding: 15px;
    }

    
    /* services */
    .services-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .service-card {
        width: 300px;
        height: auto;
        padding: 20px;
        margin-top: 25px;
    }
    /* work */
    .work-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    
    .work-card {
        position: relative;
        width: 350px;
        height: 600px;
    }
    
    .work-image {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    
    .work-title {
        font-size:3rem;
        margin-top: 20px;
    }
    
    .work-description {
        font-size: 2rem;
    }
    /* contact */
    
    form {
        max-width: 500px;
    }

    
}